@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

$xs: "screen and (min-width: 30rem)";
$sm: "screen and (min-width: 40rem)";
$md: "screen and (min-width: 50rem)";
$lg: "screen and (min-width: 60rem)";
$xl: "screen and (min-width: 70rem)";
$green: #488726;
$font: "Nunito",
sans-serif;
$shadow: rgba(0, 0, 0, .3);

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 1rem;
  font-size: 1rem;
  font-family: $font;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.app {
  color: $green;
  margin: 2rem;
  min-height: 100vh;
  display: grid;
  grid-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: minmax(0, 1fr);
}

.channel {
  display: grid;
  grid-gap: .75rem;

  &__thumb {
    overflow: hidden;
    object-fit: cover;
    border-radius: .5rem;
    width: 100% !important;
    box-shadow: 0 0 .6rem .3rem $shadow;
  }

  &__name {
    font-weight: 600;
    font-size: 1.25rem;
    justify-self: center;
  }
}

@media #{$md} {
  .app {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media #{$lg} {
  .app {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media #{$xl} {
  .app {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}