<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="shortcut icon"
      href="https://image.flaticon.com/icons/svg/541/541732.svg"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="column">
          <h1>Welcome to Devinder Bakery Store!</h1>
          <ul>
            <li><a href="/menu">Check our menu!</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
