<div class="container">
  <div class="row">
    <div class="column">
      <a href="/">Home</a>
    </div>
    <div class="column">
      <a href="/menu">Menu</a>
    </div>
    <div class="column">
      <a href="/cooks">Cooks</a>
    </div>
    <div class="column">
      <a href="/feedback">Feedback</a>
    </div>
  </div>
</div>
