@import 'bootstrap/scss/bootstrap';

.app {
  min-height: 100vh;
}

table {
  @extend .text-white;

  thead,
  tbody {
    width: 50%;
  }
  thead {
    th {
      &:last-child {
        justify-content: flex-start !important;
      }
    }
    .cc {
      button {
        display: none !important;
      }
    }
  }
  th,
  td {
    padding: 1rem !important;
  }
  td {
    &:first-child {
      code {
        @extend .text-white;
        @extend .font-weight-bold;
      }
      .cc {
        span {
          p {
            margin: 0 !important;
          }
        }
      }
    }

    &:last-child {
      .cc {
        justify-content: flex-start !important;
        button {
          display: none !important;
        }
      }
      pre {
        margin: 0;
        white-space: pre-wrap;
      }
      code {
        @extend .text-success;
      }
    }
  }
}

.card {
  &:hover,
  &:focus {
    cursor: pointer;
    background: darken($gray-800, 15%) !important;
  }
}

.jumbotron {
  background: darken($gray-800, 5%) !important;
}

.notification {
  position: absolute;
  &__toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .close {
      display: none;
    }
  }
}
