@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

$font: "Rubik";
$xs: "only screen and (min-width: 30rem)";
$sm: "only screen and (min-width: 40rem)";
$md: "only screen and (min-width: 50rem)";
$lg: "only screen and (min-width: 60rem)";
$xl: "only screen and (min-width: 70rem)";
$grey-dark: #444;
$grey-light: #eee;
$shadow: rgba(0, 0, 0, .2);

html {
  font-family: $font;
  font-size: 16px;
  line-height: 1.5;
  color: $grey-dark;
}

body {
  font-size: 1rem;
}

html .hidden {
  display: none;
}

select {
  width: 100%;
  max-width: 12rem;
}

label {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  margin: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto;
  min-height: 100vh;
  text-align: center;
}

.header {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto;
  grid-template-rows: auto;

  &__title {
    color: inherit;
    text-decoration: none;

    h1 {
      margin: 0;
      padding: 0;

    }
  }
}

.station {
  width: 100%;

  &__info {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    background: $grey-light;
  }

  &__actions {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    &-button {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.form {
  &--add {
    border-radius: .5rem;
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background: $grey-light;
  }
}

.card {
  padding: 1rem;
  color: inherit;
  text-decoration: none;
  border-radius: .5rem;
  box-shadow: 0 0 .3rem .15rem $shadow;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;

  div:first-child {
    font-weight: 500;
  }

  >div:last-child {
    font-size: .75rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto;
}

.footer {
  border-radius: .5rem;
  padding: 0 1rem;
  background: $grey-light;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    max-width: 20rem;
  }
}

.filter {
  justify-self: center;
  align-self: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  button {
    margin: 2rem .5rem;
  }
}

@media #{$md} {
  .station {
    margin: 0 auto;
    max-width: 30rem;
  }

  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media #{$lg} {

  .cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media #{$xl} {
  .cards {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}